{% extends 'base.html.twig' %}

{% block stylesheetsCustom %}
    <link rel="stylesheet" href="{{ asset('asset/css/home.css') }}">
{% endblock %}

{% block body %}
    <div class="bg-home">
        <div class="presentation">
            <div class="text-center">
                <h1 class="slogan">
                    Made it yourself.
                </h1>
                <div class="presentation-text">
                    <h2>Vendez vos créations faitent main sur la marketplace qui aime vos mimines</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}






