{% extends 'base.html.twig' %}

{% block stylesheetsCustom %}
    <link rel="stylesheet" href="{{ asset('asset/css/home.css') }}">
{% endblock %}

{% block body %}
    <p>blabla</p>
{% endblock %}





